include Header/Header.pug

// New interface blocks
- // AdblockHostedEvent
- // Define appearance of adblock
- var colorTheme = 'colortheme-pale-yellow';
- // Position adblock
- var floatClass = 'float-left';
- // Create data for adblock
- var dataLink = 'https://apple.com'
- var eventCategory = 'Обучение';
- var hostPictureUrl = 'http://www.thefandom.net/wp-content/uploads/2017/08/milla-jovovich-sq.jpg';
- var hostName = 'Петрова Елена Юрьевна';
- var eventDate = '27 октября 2018 – 05 ноября 2018';
- var eventType = 'Авторская программа';
- var eventTitle = 'Клинические проблемы в контексте психологического консультирования';
- var eventPrice = '18 800 руб.';
- var eventActionText = 'Посмотреть';
include AdblockHostedEvent/AdblockHostedEvent.pug
