articleExtrasFrameWidth = 210px
.article-extras
	margin-bottom 2rem
	h3
		articleH3(Colorset.legacy.greyDark, Colorset.legacy.greyDark, Colorset.legacy.offWhite)
	h6
		margin: 0 0 Properties.element.margin 0

.article-extras__frame
	width 100%
	display flex
	flex-wrap wrap
	justify-content space-between

.article-extras__block
	padding 10px
	width 50%
	+above(1100px)
		width 25%

.article-extras__image
	width 100%
	margin-bottom: Properties.element.margin
	padding 0 0 64.2857142857% 0

.article-extras__stats
	font-size 1.4rem
	display flex
	justify-content space-between
	align-items flex-start
	.social-stats
		margin-top 0
