// Define legacy colors for export
/* Colors */
black = hsla(0 0% 20% 1)
offWhite = hsla(0 0% 94% 1)
offWhiteLight = hsla(0 0% 98% 1)
whiteTransp = hsla(0 0% 100% .95)

grey = hsla(0 0% 67% 1)
greyDark = hsla(0 0% 45% 1)
greyLight = hsla(0 0% 80% 1)

green = hsla(89 86% 65% 1)
greenDark = hsla(116 66% 44% 1)
greenLight = hsla(89 86% 65% 1)
greenDarkActive = hsla(116 66% 54% 1)

blue = hsla(211 88% 87% 1)
blueDark = hsla(218 57% 47% 1)
blueLight = hsla(210 89% 96% 1)
blueTxt = hsla(216 83% 64% 1)
blueLink = hsla(207 100% 39% 1)

navy = hsla(195 43% 61% 1)

orange = hsla(40 90% 90% 1)
orangeDark = hsla(33 93% 54% 1)
orangeLight = hsla(40 100% 96% 1)
orangeActive = hsla(40 100% 65% 1)

red = hsla(11 73% 53% 1)
redDark = hsla(11 81% 29% 1)

colorIsInvalid = hsla(61 100% 88% 1)

transp = hsla(0 0% 0% 0)


txtBlue = hsla(216 83% 64% 1)
modalWhite = hsla(0 0% 100% .9)

// Define colorsets
Colorset = {
	// Legacy
	legacy : {
		black			: hsla(0 0 20 1)
		offWhite 		: hsla(0 0 94 1)
		offWhiteLight 	: hsla(0 0 98 1)
		whiteTransp 	: hsla(0 0 100 0.95)
		grey 			: hsla(0 0 67 1)
		greyDark 		: hsla(0 0 45 1)
		greyLight 		: hsla(0 0 80 1)

		green 			: hsla(89 86 65 1)
		greenDark 		: hsla(116 66 44 1)
		greenLight 		: hsla(89 86 65 1)
		greenDarkActive : hsla(116 66 54 1)

		blue 			: hsla(211 88 87 1)
		blueDark 		: hsla(218 57 47 1)
		blueLight 		: hsla(210 89 96 1)
		blueTxt 		: hsla(216 83 64 1)
		blueLink 		: hsla(207 100 39 1)
		navy 			: hsla(195 43 61 1)
		orange 			: hsla(40 90 90 1)
		orangeDark 		: hsla(33 93 54 1)
		orangeLight 	: hsla(40 100 96 1)
		orangeActive 	: hsla(40 100 65 1)
		red 			: hsla(11 73 53 1)
		redDark 		: hsla(11 81 29 1)
		colorIsInvalid 	: hsla(61 100 88 1)
		transp 			: hsla(0 0 0 0)
		txtBlue 		: hsla(216 83 64 1)
		modalWhite 		: hsla(0 0 100 0.9)
	},

	// Pale Yellow
	paleYellow : {
		// Elements
		color:			hsla(0 0 15 1)		//Black
		inverted:		hsla(0 0 100 1)		//White
		background:		hsla(39 100 96 1)	// Pale Yellow
		accent_1:		hsla(33 93 54 1)	// Accented Yellow
		accent_2:		hsla(40 88 90 1)	// Yellow
		accent_3:		hsla(206 75 42 1)	// Yellow
		reduced_1:		hsla(40 24 68 1)	// Dark Yellow
		reduced_2:		hsla(220 1 43 1)	// Grey
		reduced_3:		hsla(39 24 68 1)	// Dark Yellow
		// UI States
		uiDefault_1:	hsla(206 75 42 1)	// Blue
		uiDefault_2:	hsla(3 84 57 1)		// Red
	}
}

.colortheme-pale-yellow
	// Theme defaults
	background: Colorset.paleYellow.background
	color: Colorset.paleYellow.color
	// Color
	.color-main
		color: Colorset.paleYellow.color
		stroke: Colorset.paleYellow.color
	.color-inverted
		color: Colorset.paleYellow.inverted
		stroke: Colorset.paleYellow.inverted
	.color-accent-1
		color: Colorset.paleYellow.accent_1
		stroke: Colorset.paleYellow.accent_1
	.color-accent-2
		color: Colorset.paleYellow.accent_2
		stroke: Colorset.paleYellow.accent_2
	.color-accent-3
		color: Colorset.paleYellow.accent_3
		stroke: Colorset.paleYellow.accent_3
	.color-reduced-1
		color: Colorset.paleYellow.reduced_1
		stroke: Colorset.paleYellow.reduced_1
	.color-reduced-2
		color: Colorset.paleYellow.reduced_2
		stroke: Colorset.paleYellow.reduced_2
	.color-reduced-3
		color: Colorset.paleYellow.reduced_3
		stroke: Colorset.paleYellow.reduced_3
	.color-ui-default-1
		color: Colorset.paleYellow.uiDefault_1
		stroke: Colorset.paleYellow.uiDefault_1
	.color-ui-default-2
		color: Colorset.paleYellow.uiDefault_2
		stroke: Colorset.paleYellow.uiDefault_2

	// Background
	.background-main
		background: Colorset.paleYellow.color
		fill: Colorset.paleYellow.color
	.background-inverted
		background: Colorset.paleYellow.inverted
		fill: Colorset.paleYellow.inverted
	.background-accent-1
		background: Colorset.paleYellow.accent_1
		fill: Colorset.paleYellow.accent_1
	.background-accent-2
		background: Colorset.paleYellow.accent_2
		fill: Colorset.paleYellow.accent_2
	.background-accent-3
		background: Colorset.paleYellow.accent_3
		fill: Colorset.paleYellow.accent_3
	.background-reduced-1
		background: Colorset.paleYellow.reduced_1
		fill: Colorset.paleYellow.reduced_1
	.background-reduced-2
		background: Colorset.paleYellow.reduced_2
		fill: Colorset.paleYellow.reduced_2
	.background-reduced-3
		background: Colorset.paleYellow.reduced_3
		fill: Colorset.paleYellow.reduced_3
	.background-ui-default-1
		background: Colorset.paleYellow.uiDefault_1
		fill: Colorset.paleYellow.uiDefault_1
	.background-ui-default-2
		background: Colorset.paleYellow.uiDefault_2
		fill: Colorset.paleYellow.uiDefaullt_2
