Properties = {
	element : {
		margin			: 1rem
		borderRadius	: 5px
	},

	block : {
		margin			: 3rem
		borderRadius	: 5px
	},

	frame : {
		margin			: 2rem
	}
}

// Legacy vars
//calc howto
// "calc(%s * 1.6)"% gapElement

// Import fonts
@font-face
	font-family OpenSans
	src url(../f/OpenSans-Regular.woff)

@font-face
	font-family OpenSans-Italic;
	src url(../f/OpenSans-Italic.woff)

@font-face
	font-family OpenSans-Semibold;
	src url(../f/OpenSans-SemiBold.woff);

// Define variables
fontMain = OpenSans
fontHeader = OpenSans-Semibold
fontSubHeader = OpenSans-Semibold
fontButton = OpenSans-Semibold


/* Units */
marTop = 150px

gapElement = 1rem
gapFrame = 2rem
gapBlock = 3rem

borderRadBlock = 5px
borderRadElem = 5px

liMarLrg = 20px
liMarMed = 15px
liMarSml = 10px

/* fx */
boxShadow = 0 20px 60px hsla(180 7% 70% 1)
modalShadow = 0 30px 75px hsla(55 7% 70% 1)
uiBorderRad = 5px

/* Colors */
black = hsla(0 0% 20% 1)
offWhite = hsla(0 0% 94% 1)
offWhiteLight = hsla(0 0% 98% 1)
whiteTransp = hsla(0 0% 100% .95)

grey = hsla(0 0% 67% 1)
greyDark = hsla(0 0% 45% 1)
greyLight = hsla(0 0% 80% 1)

green = hsla(89 86% 65% 1)
greenDark = hsla(116 66% 44% 1)
greenLight = hsla(89 86% 65% 1)
greenDarkActive = hsla(116 66% 54% 1)

blue = hsla(211 88% 87% 1)
blueDark = hsla(218 57% 47% 1)
blueLight = hsla(210 89% 96% 1)
blueTxt = hsla(216 83% 64% 1)
blueLink = hsla(207 100% 39% 1)

navy = hsla(195 43% 61% 1)

orange = hsla(40 90% 90% 1)
orangeDark = hsla(33 93% 54% 1)
orangeLight = hsla(40 100% 96% 1)
orangeActive = hsla(40 100% 65% 1)

red = hsla(11 73% 53% 1)
redDark = hsla(11 81% 29% 1)

colorIsInvalid = hsla(61 100% 88% 1)

transp = hsla(0 0% 0% 0)


txtBlue = hsla(216 83% 64% 1)
modalWhite = hsla(0 0% 100% .9)

/* @media scales */
mXSml = "screen and (min-width:600px)"
mSml = "screen and (min-width:750px)"
mMed = "screen and (min-width:900px)"
mLrg = "screen and (min-width:1200px)"
mXLrg = "screen and (min-width:1400px)"
mXXLrg = "screen and (min-width:1600px)"
ie = "all and (-ms-high-contrast: none), (-ms-high-contrast: active)"
iPadLandscape = "only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape)"
iPadPortrait = "only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait)"
iPadRetinaLandscape = "only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 2)"
iPadRetinaPortrait = "only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 2)"
iPhone5Landscape = "only screen and (min-device-width: 320px) and (max-device-width: 568px) and (orientation: landscape)"
iPhone5Portrait = "only screen and (min-device-width: 320px) and (max-device-width: 568px) and (orientation: portrait)"

containerDefaultWidth = 80
containerMaxWidth = 1200px
widthFull = 90%

transTime = .5s
