// Legacy
clearfix()
	zoom 1
	&:after
	&:before
		content ""
		display table
	&:after
		clear both

articleH3(hdrFill, hdrClr, hdrBcg)
	color hdrClr
	display flex
	justify-content flex-start
	align-items center
	background hdrBcg
	margin 0 0 gapElement 0
	height 30px
	font-family fontMain
	@media mXLrg
		height 40px
	span
		span
			display none
			@media mXLrg
				display inline
	svg:first-of-type
		margin 0 gapElement 0 0
		fill hdrFill
		width 6px
		height 30px
		@media mXLrg
			width 7px
			height 40px

banner(aspectRatio, marginBottom)
	width 100%
	padding-bottom aspectRatio
	margin 0 0 marginBottom 0
	position relative
	div
		position absolute
		top 0
		bottom 0
		left 0
		right 0
