p
li
a
span
	font-family fontMain
	font-size 1.6rem

h1
h2
h3
h4
h5
h6
	hyphens auto
	line-height 140%

h1
h2
h3
	font-family fontHeader

h4
h5
h6
	font-family fontMain

//1.3333 ratio
h1
	font-size 2.4rem

h2
	font-size 1.9rem

h3
	font-size 1.8rem

h4
	font-size 1.7rem

h5
	font-size 1.6rem

h6
	font-size 1.4rem

p
	font-size 1.6rem
	line-height 160%
	hyphens auto
	text-align justify


// Typography update
.large-title
.title-1
.title-2
.title-3
text-rendering optimizeLegibility
	span
		+above(bsmd)
			display block

.large-title
	font-family fontHeader
	font-size 3.4rem
	line-height 4.1rem
	margin-bottom 3rem

.title-1
	font-family fontHeader
	font-size 2.8rem
	line-height 3.4rem
	margin-bottom 2rem

.title-2
	font-family fontHeader
	font-size 2.2rem
	line-height 2.8rem
	margin 3rem 0 1rem 0

.title-3
	font-family fontHeader
	font-size 2.0rem
	line-height 2.5rem
	margin-bottom 1rem

.headline
	font-family fontHeader
	font-size 1.6rem
	font-weight 600
	line-height 2.2rem

.body
	font-family fontMain
	font-size 1.6rem
	line-height 2.2rem
	hyphens auto
	margin-bottom 0.5rem

.emphasis-1
	font-family fontMain
	font-size 2rem

.emphasis-2
	font-family fontMain
	font-size 1.8rem

.emphasis-3
	font-family fontMain
	font-size 1.7rem

.callout
	font-family fontMain
	font-size 1.6rem
	line-height 2.1rem
	font-style italic
	text-align center
	margin 1rem 0

.subhead
	font-family fontHeader
	font-size 1.5rem
	line-height 2.0rem
	margin 0.5rem 0

.footnote-1
	font-family fontMain
	font-size 1.4rem
	line-height 2rem
	hyphens none
	margin-bottom 0.5rem

.footnote-2
	font-family fontMain
	font-size 1.3rem
	line-height 1.8rem
	margin 1rem 0
	letter-spacing .015rem

.caption-1
	font-family fontMain
	font-size 1.2rem
	line-height 1.6rem
	margin 0.5rem 0


.caption-2
	font-family fontMain
	font-size 1.1rem
	line-height 1.3rem
