// // Globals
// ul
// 	padding 0
// 	list-style none

// Modifiers
.no-margin
	margin 0

.no-top-margin
	margin-top 0

.no-bottom-margin
	margin-bottom 0

.align-left
	text-align left

.align-right
	text-align right

.align-center
	text-align center

.float-left
	margin 0 auto
	+above(800px)
		float left
		margin-right 3rem

.float-right
	margin 0 auto
	+above(800px)
		float right
		margin-left 3rem


.Line
	width 100%
	height 1px
	background c_uiDefault
	margin-bottom 30px

