.AdblockHostedEvent
	width: 280px
	padding: 10px
	display: flex
	flex-direction: column
	align-items: center
	text-decoration: none
	border-radius 8px

	// .event-category
	.host-pic
	.host-name
	.event-date
	.event-type
	.event-title
	.event-price
		margin-bottom: 2rem

	.host-name
	.event-type
	.event-title
	.event-price
		text-align: center

	.event-category
		width 100%
		text-align right
		text-transform uppercase

	.host-pic
		display: block
		width: 90px
		height: 90px
		border-radius: 50%

	.event-date
		padding 5px
		border-radius 3px

	.event-action
		display flex
		justify-content space-between
		align-items center
		padding 8px
		text-transform uppercase
		letter-spacing 0.3rem
		border-radius 3px
		transition-duration transTime
		span
			display block
			line-height 0
			margin 0
			padding 0
		svg
			stroke none
			margin 0
			margin-left 2px


.AdblockHostedEvent:hover
	text-decoration: none
	& > .event-action
		filter: drop-shadow(0px 0px 4px red)
