// Start AdblockHostedEvent
a(class='AdblockHostedEvent' + ' ' + colorTheme + ' ' + floatClass href=dataLink)
	.event-category.color-reduced-1
		span.footnote-2 #{eventCategory}
	.host-pic.background-accent-1(style='background: url(' + hostPictureUrl + ');' + 'background-size: cover')
	.host-name.color-main
		span.footnote-1 #{hostName}
	.event-date.color-inverted.background-ui-default-1
		span.footnote-2 #{eventDate}
	.event-type.color-reduced-2
		span.footnote-1: em #{eventType}
	.event-title.color-ui-default-1
		span.emphasis-2 #{eventTitle}
	.event-price.color-main
		span.emphasis-1 #{eventPrice}
	.event-action.background-ui-default-2.color-inverted
		span.emphasis-3 #{eventActionText}
		span: include inc/Button__circle-arrow.svg
// End AdblockHostedEvent
